<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Registration</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='../css/table.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Bus Registration Service</title>
  </head>
  <body>
    <h1>Cancel Learner Appliction</h1>
    
    {% block learners %}
    <table id="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Cell No.</th>
          <th>Grade</th>
          <th>Bus Name</th>
          <th>Registration Status</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        {% for learner in learners %}
        <tr>
          <td>{{ learner[1] }}</td>
          <td>{{ learner[2] }}</td>
          <td>{{ learner[3] }}</td>
          <td>{{ learner[4] }}</td>
          <td>{{ learner[5] }}</td>
          <td>{{ learner[6] }}</td>
          <td><button data-row-id="{{ learner[0] }}" onclick="cancelApplication(this)">Cancel</button></td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr style="padding: 125px;">
          <td colspan="7">
            <a href="/register/learner">register learner</a>
          </td>
        </tr>
      </tfoot>
    </table>
  
      {% for learner in learners %}
      <ul id="mobileView">

        <li><strong>Name:</strong> {{ learner[1] }}</li>
        <br>
        <li><esm>Surnname:</strong> {{ learner[2] }}</li>
        <br>
        <li><strong>Registration Status:</strong> {{ learner[6] }}</li>
        <button onclick="cancelApplication(this)" >Cancel</button>
      </ul>
      {% endfor %}

      <a id="mobileA" href="/register/learner">register learner</a>
    {% endblock %}
    
    <script>
      function cancelApplication(button) {
        const learnerId = button.getAttribute('data-row-id');

        fetch(`/cancel/${learnerId}`, {
          method: 'DELETE'
        }).then(res => {
          console.log(res);
          button.closest('tr').remove();
        }).catch(err => console.error(`Error:: ${err}`));
      }

      
      document.getElementById('addNewApplication').addEventListener('click', function() {
        fetch('/register/learner', res => {
          res.text()
        })
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.log(`Error:: ${error}`);
        })
      })
    </script>
  </body>
  </html>